* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid black;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.container {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

.header {
    width: 1200px;
    height: 100px;

    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 200px;
    height: 100px;
}

.header .logo img {
    width: 200px;
    height: 100px;
}

.header .menu {
    width: 600px;
    height: 100px;
}

.slide {
    width: 1200px;
    height: 300px;
}

.slide img {
    width: 1200px;
    height: 300px;
}

.contents {
    width: 1200px;
    height: 200px;

    display: flex;
}

.contents .notice {
    width: 400px;
    height: 200px;
}

.contents .banner {
    width: 400px;
    height: 200px;
}

.contents .banner img {
    width: 400px;
    height: 200px;
}
.contents .baro {
    width: 400px;
    height: 200px;
}

.contents .baro img {
    width: 400px;
    height: 200px;
}


.footer {
    width: 1200px;
    height: 100px;

    display: flex;
}

.footer .logo {
    width: 200px;
    height: 100px;
}

.footer .logo img {
    width: 200px;
    height: 100px;
}

.footer .copy {
    width: 1000px;
    height: 100px;
}